.groupView
  background-color white

  .groupsLabel
    font-size 12px
    color #6C5B7B

    a
      color #C06C84

  hr
    margin-bottom 3rem
    border-style dashed
    border-top-width 0

  .selectedGroup
    position relative
    font-weight 800

    &:before
      content '>'
      position absolute
      top .9rem
      left -2rem
      font-size 2rem
      color #C06C84

    h1
      display inline

    span a
      color #C06C84

  .group h1
    font-weight 100

  .message
    margin 2rem 0

  .authorName
    font-size 1.4rem
    color gray

  .messageBody
    margin-top .25rem
    white-space pre-line

  .compose
    h1
      text-align center

    textarea
      display block
      width 70%
      max-width 60rem
      margin 2rem auto 0
      font-size 18px
      border none
      outline none
      resize none

    button
      display block
      margin 4rem auto 0

.loading
  position relative

  &:before
    content ">"
    position absolute
    top 0
    left -2rem
    animation loadBefore 1s linear infinite alternate

  &:after
    content "<"
    position absolute
    right -2rem
    bottom 0
    animation loadAfter 1s linear infinite alternate

@keyframes loadBefore
  0%
    top 0
  100%
    top 2rem

@keyframes loadAfter
  0%
    bottom 0
  100%
    bottom 2rem
