.loginContainer {
  padding 4rem 0

  h1, h2 {
    text-align center
  }

  h1 {
    font-size 10rem
  }

  form {
    max-width 30rem
    margin 4rem auto
  }

  input {
    margin-bottom 1rem
    width 100%

    &[type=submit] {
      width 60%
      margin 2rem auto
    }
  }
}
